html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
}

.container input, button{
    margin: 10px;
}

.container #statusLabel {
    visibility: hidden;
    color: red;
    font-size: 12px;    
}