html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.heading {    
    height: 10%;
}

.patient_table {
    display: flex;
    flex-direction: column;
    align-content: center;
    float: left;
    width: 30%;
    background-color: #60a9a6;    
}

#patient_display {
    float: right;    
    width: 70%;
    background-color: #caf2d7;    
}

table, th, td {
    border: 1px solid black;
}

